<div id="<%= dom_id barman %>">
  <p>
    <strong>Name:</strong>
    <%= barman.name %>
  </p>
    <p>
    <strong>Age:</strong>
    <%= barman.age %>
  </p>
    <p>
    <strong>Salary:</strong>
    <%= barman.salary %>
  </p>

</div>
